{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <section class="login-container">
        <div id="section-login">
            <h1 class="page-title">Connexion</h1>

            {% if error %}
                <div class="error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form class="form-login" method="post">
                <div style="margin-top:3rem;" class="vertical-display">
                    <div class="input-label-display">
                        <label for="username">Email</label>
                        <input class="input-goofy" type="email" value="{{ last_username }}" name="_username" id="username" placeholder="Entrez votre email" required autofocus>
                    </div>

                    <div class="input-label-display">
                        <label for="password">Mot de passe</label>
                        <input class="input-goofy" type="password" name="_password" id="password" placeholder="Entrez votre mot de passe" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="horizontal-display">
                        <button class="form-button green-bg" type="submit">Connexion</button>
                    </div>

                    <div class="create-account-prompt">
                        <p><a href="/register">Créer un compte</a></p>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}