<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>
      {% block title %}
        LearningShare
      {% endblock %}
    </title>

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}" />

  </head>

  <body 
  class="{{app.session.get('isDarkMode', false) ? 'dark-mode' : ''}}"
  id="bg">
    <twig:Navbar />

    <main class="container">
      {% block body %}

      {% endblock %}
    </main>

    <!-- show the sidebar onlyn when the user is loged -->
    {% if true %}
      <twig:Sidebar />
    {% endif %}
  </body>
</html>
