<nav {{ attributes }}  class="container idNavbar" >
    {% if this.isAdmin %}
        <a text-tooltip="Admin Paner" class="nav-anchor notif-anchor" href="/admin">
            <!-- notif svg -->
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="187.000000pt" height="187.000000pt" viewBox="0 0 187.000000 187.000000"
                 preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,187.000000) scale(0.100000,-0.100000)"
                   stroke="none">
                    <path d="M898 1806 c-21 -8 -75 -45 -120 -83 -121 -102 -130 -105 -285 -112
            -148 -7 -169 -15 -210 -87 -19 -33 -23 -54 -23 -144 0 -58 -5 -121 -10 -141
            -6 -20 -43 -74 -86 -125 -83 -96 -104 -134 -104 -188 0 -55 16 -84 96 -178 97
            -113 104 -132 104 -266 0 -92 3 -114 23 -152 35 -71 78 -90 207 -90 58 0 122
            -5 143 -11 23 -6 75 -42 132 -90 105 -88 126 -99 193 -99 56 0 90 19 182 100
            100 88 115 94 265 100 115 4 134 8 163 28 55 40 72 86 72 203 0 56 5 119 12
            140 6 23 42 75 85 125 91 106 103 129 103 194 0 64 -4 70 -100 185 -47 56 -83
            109 -89 132 -6 21 -11 86 -11 144 0 93 -3 110 -22 139 -45 66 -67 74 -206 81
            -81 4 -140 12 -162 21 -19 9 -75 50 -124 92 -111 94 -152 109 -228 82z m100
            -486 c21 -20 22 -27 22 -265 l0 -244 -26 -20 c-33 -26 -55 -26 -85 -2 l-24 19
            0 247 0 247 24 19 c30 25 62 24 89 -1z m-5 -662 c33 -17 46 -39 46 -78 0 -54
            -38 -90 -94 -90 -38 0 -85 50 -85 90 0 64 76 109 133 78z"/>
                </g>
            </svg>
        </a>
    {% endif %}
    <a text-tooltip="Consulter les sessions" class="nav-anchor" href="/">
        <!-- book svg -->
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 187.000000 170.000000"
             preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,170.000000) scale(0.100000,-0.100000)"
               stroke="none">
                <path d="M147 1629 c-20 -11 -49 -38 -65 -61 l-27 -42 -3 -583 c-2 -566 -2
            -584 17 -622 37 -72 59 -83 256 -121 61 -11 182 -46 270 -76 208 -72 205 -71
            243 -39 l32 27 0 655 c0 433 -4 661 -10 674 -23 41 -258 139 -445 185 -123 30
            -215 31 -268 3z m415 -446 c10 -9 18 -30 18 -49 0 -54 -25 -64 -167 -64 -110
            0 -125 2 -143 20 -24 24 -26 57 -4 88 14 21 22 22 146 22 108 0 135 -3 150
            -17z m62 -264 c33 -26 35 -70 4 -99 -20 -18 -35 -20 -174 -20 -138 0 -154 2
            -178 21 -35 28 -35 70 0 98 24 19 40 21 174 21 134 0 150 -2 174 -21z"/>
                <path d="M1510 1636 c-237 -55 -465 -150 -489 -202 -8 -18 -11 -212 -11 -668
            0 -626 1 -644 20 -669 35 -44 60 -42 209 12 140 51 293 91 417 111 54 9 80 19
            108 42 75 61 71 26 71 668 0 555 -1 576 -20 614 -11 22 -37 53 -58 70 -35 28
            -46 31 -115 33 -43 1 -102 -4 -132 -11z"/>
            </g>
        </svg>
    </a>
    <a text-tooltip="Créer une session" class="nav-anchor" href="/session/create">
        <!-- plus svg -->
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="191.000000pt" height="185.000000pt" viewBox="0 0 191.000000 185.000000"
             preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,185.000000) scale(0.100000,-0.100000)"
               stroke="none">
                <path d="M418 1815 c-81 -20 -153 -59 -213 -116 -64 -60 -100 -124 -125 -225
            -19 -71 -20 -111 -20 -528 0 -486 4 -533 54 -642 52 -113 173 -207 307 -239
            93 -22 964 -22 1057 0 183 43 300 159 348 344 13 51 14 136 12 558 -3 493 -4
            499 -27 561 -47 128 -139 218 -276 273 l-60 24 -500 2 c-402 1 -511 -1 -557
            -12z m585 -477 c15 -17 17 -42 17 -174 l0 -154 155 0 c152 0 156 -1 180 -25
            32 -31 32 -59 0 -90 -23 -24 -28 -25 -179 -25 l-156 0 -2 -161 c-3 -161 -3
            -162 -29 -181 -18 -14 -33 -17 -53 -12 -46 11 -56 47 -56 209 l0 145 -155 0
            c-142 0 -157 2 -175 20 -26 26 -26 74 0 100 18 18 33 20 175 20 l155 0 1 148
            c0 81 4 155 8 166 10 24 51 46 76 40 11 -3 28 -15 38 -26z"/>
            </g>
        </svg>
    </a>
    {% if app.user %}
        <a text-tooltip="Se déconnecter" class="nav-anchor" href="/logout">
            <!-- cross svg -->
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                 width="187.000000pt" height="182.000000pt" viewBox="0 0 187.000000 182.000000"
                 preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,182.000000) scale(0.100000,-0.100000)"
                   stroke="none">
                    <path d="M425 1810 c-194 -41 -317 -157 -365 -345 -19 -73 -20 -111 -20 -529
            0 -486 4 -533 54 -642 52 -114 186 -216 320 -244 36 -7 210 -10 547 -8 484 3
            495 4 554 26 133 50 232 149 277 279 23 68 23 70 23 583 l0 515 -24 68 c-32
            95 -100 180 -181 229 -124 74 -108 72 -655 74 -269 1 -508 -2 -530 -6z m327
            -607 l178 -178 174 174 c154 154 178 174 207 174 21 0 38 -7 51 -22 38 -48 29
            -63 -157 -250 l-174 -176 174 -176 c190 -191 200 -208 149 -248 -15 -12 -36
            -21 -47 -21 -13 0 -83 62 -196 175 l-176 174 -176 -174 c-187 -186 -202 -195
            -250 -157 -15 13 -22 30 -22 51 0 29 20 53 174 207 l174 174 -172 173 c-94 94
            -172 179 -173 187 -6 41 2 60 28 74 15 8 33 15 41 16 8 0 95 -80 193 -177z"/>
                </g>
            </svg>
        </a>
    {% endif %}
    <!-- show the sidebar hamburger icon onlyn when the user is loged -->
    {% if true %}
        <i class="nav-anchor hamburger-sidebar-button"
           onclick="
   let sidebarEl = document.getElementById('sidebar').classList.toggle('open');
   "
        >
            <!-- hamburger menu svg -->
            <svg style="width:1.5rem;" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                </defs>
                <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-212.000000, -888.000000)" >
                    <path d="M230,904 L214,904 C212.896,904 212,904.896 212,906 C212,907.104 212.896,908 214,908 L230,908 C231.104,908 232,907.104 232,906 C232,904.896 231.104,904 230,904 L230,904 Z M230,896 L214,896 C212.896,896 212,896.896 212,898 C212,899.104 212.896,900 214,900 L230,900 C231.104,900 232,899.104 232,898 C232,896.896 231.104,896 230,896 L230,896 Z M214,892 L230,892 C231.104,892 232,891.104 232,890 C232,888.896 231.104,888 230,888 L214,888 C212.896,888 212,888.896 212,890 C212,891.104 212.896,892 214,892 L214,892 Z" id="hamburger" sketch:type="MSShapeGroup">
                    </path>
                </g>
            </svg>
        </i>
    {% endif %}
    <i text-tooltip="{{'Changer le thème'|trans}}" class="nav-anchor "
       onclick="
   document.body.classList.toggle('dark-mode');
   "
       data-action="click->live#action"
       data-live-action-param="toggleDarkMode"
    >
        <svg class="moon"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 22C17.5228 22 22 17.5228 22 12C22 11.5373 21.3065 11.4608 21.0672 11.8568C19.9289 13.7406 17.8615 15 15.5 15C11.9101 15 9 12.0899 9 8.5C9 6.13845 10.2594 4.07105 12.1432 2.93276C12.5392 2.69347 12.4627 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"/>
        </svg>
        <svg class="sun" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             style="width:1.5rem;" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
      <g>
          <circle fill-rule="evenodd" clip-rule="evenodd"  cx="32.003" cy="32.005" r="16.001"/>
          <path fill-rule="evenodd" clip-rule="evenodd"  d="M12.001,31.997c0-2.211-1.789-4-4-4H4c-2.211,0-4,1.789-4,4
            s1.789,4,4,4h4C10.212,35.997,12.001,34.208,12.001,31.997z"/>
          <path fill-rule="evenodd" clip-rule="evenodd"  d="M12.204,46.139l-2.832,2.833c-1.563,1.562-1.563,4.094,0,5.656
            c1.562,1.562,4.094,1.562,5.657,0l2.833-2.832c1.562-1.562,1.562-4.095,0-5.657C16.298,44.576,13.767,44.576,12.204,46.139z"/>
          <path fill-rule="evenodd" clip-rule="evenodd"  d="M32.003,51.999c-2.211,0-4,1.789-4,4V60c0,2.211,1.789,4,4,4
            s4-1.789,4-4l-0.004-4.001C36.003,53.788,34.21,51.999,32.003,51.999z"/>
          <path fill-rule="evenodd" clip-rule="evenodd"  d="M51.798,46.143c-1.559-1.566-4.091-1.566-5.653-0.004
            s-1.562,4.095,0,5.657l2.829,2.828c1.562,1.57,4.094,1.562,5.656,0s1.566-4.09,0-5.656L51.798,46.143z"/>
          <path fill-rule="evenodd" clip-rule="evenodd"  d="M60.006,27.997l-4.009,0.008
            c-2.203-0.008-3.992,1.781-3.992,3.992c-0.008,2.211,1.789,4,3.992,4h4.001c2.219,0.008,4-1.789,4-4
            C64.002,29.79,62.217,27.997,60.006,27.997z"/>
          <path fill-rule="evenodd" clip-rule="evenodd"  d="M51.798,17.859l2.828-2.829c1.574-1.566,1.562-4.094,0-5.657
            c-1.559-1.567-4.09-1.567-5.652-0.004l-2.829,2.836c-1.562,1.555-1.562,4.086,0,5.649C47.699,19.426,50.239,19.418,51.798,17.859z"
          />
          <path fill-rule="evenodd" clip-rule="evenodd"  d="M32.003,11.995c2.207,0.016,4-1.789,4-3.992v-4
            c0-2.219-1.789-4-4-4c-2.211-0.008-4,1.781-4,3.993l0.008,4.008C28.003,10.206,29.792,11.995,32.003,11.995z"/>
          <path fill-rule="evenodd" clip-rule="evenodd"  d="M12.212,17.855c1.555,1.562,4.079,1.562,5.646-0.004
            c1.574-1.551,1.566-4.09,0.008-5.649l-2.829-2.828c-1.57-1.571-4.094-1.559-5.657,0c-1.575,1.559-1.575,4.09-0.012,5.653
            L12.212,17.855z"/>
      </g>
   </svg>
    </i>
</nav>